* {
    justify-self: center;
}

.calculator-container {
    margin: 20em;
    width: -webkit-fill-available;
    margin-bottom: 12px;
}

.display-text {
    border: dotted;
    width: -webkit-fill-available;
    margin-bottom: 12px;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border: solid;
    padding: 12px;
}